<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <!--数据库连接串-->
  <connectionStrings>
    <clear />
    <add name="connStr" connectionString="server=ASUS-B45E3CC99E\SQLEXPRESS;database=book_manage;uid=sa;password=123" />
  </connectionStrings>
</configuration>